<% include partials/header %>
    
        <nav>
        	<a href="/">Home</a>
        	<a href="/start">Start</a>
        	<a class="current" href="/development">Development</a>
        	<a href="/finish">Finish</a>
        </nav>
        <hr />
              
        <div id="content">
        
        	<p id="disclaimer">All information used was found 
        		<a href="https://developer.android.com/training/basics/firstapp/building-ui">here</a>
        	</p>
        
        	<h4>Step 4: Opening Layout Editor</h4>
        	
        	<p>One of the best parts of Android Studio and it's development, is that you can
        	use the layout editor to create your application. Open up <%= randomFileName %>, 
        	and click on the tab labeled <em>design</em>. </p>
       		
       		<h4>Step 5: Using Layout Editor</h4>
       		
       		<p>Once you have opened up the design page, you should see a menu with a bunch of 
       		different panels you can add over to your application. All you have to do is click 
       		and drag your preferred item over to your application and place it!</p> 
       		
       		<h4>Step 6: Make a Design</h4>
       		
       		<p>This is probably the easiest way for you to start with a design, without even
       		having to start to code anything from here. You can begin simply by placing things
       		where you would like them, and once you've finalized your design, you can get started 
       		straight onto the coding side of things. If you are familiar with Java, most of the 
       		code should be pretty straight-forward. </p>
       		
       		<p>To keep this guide simple, I will not be going over the code for your application,
       		but you can create whatever you'd like! If you'd like help with creating something,
       		please follow the guide <a href="https://developer.android.com/training/basics/firstapp/building-ui">here</a>. 
       		Once you've got something you are happy with,
       		you can move to the Finish page to learn how to build and run your app!</p>

			<p>Click <a href="finish.html">here</a> to move to the next page,
			or click the button at the top of the page labeled <em>Finish</em> to move on!</p>

        		<img class="center" src="img/phone_code.png" 
        		alt = "Picture of a phone with HTML code" />

        <br />
        
        </div>
        
<% include partials/footer %>