<% include partials/header %>
        
        <nav>
        	<a class="current" href="/">Home</a>
        	<a href="/start">Start</a>
        	<a href="/development">Development</a>
        	<a href="/finish">Finish</a>
        </nav>
        <hr />
        
        <br /><br />
        
        <main> 
        	<figure>
        		<img src="img/code_image.png" alt = "Picture" />
        	</figure>
        
        <div id="textbox">
        	<b>Android Development</b> <br />
        	<p>Android development is one of the few ways someone could get started <br />
        	in mobile development completely for free!</p>
        	
        	<p>On this webpage, you can learn all about starting and pushing out a project of your own.</p>
        
        <em>"With ordinary talent and extraordinary 
        <strong>preserverance</strong>, all things are attainable."</em><br />
        - <%= randomName %>
        </div>
        
        </main>

<% include partials/footer %>